<div class="main" *ngIf="booking">
  <h3 class="top-header">
    <span class="material-icons back" (click)="back()">
      chevron_left
    </span>
    Review Booking Details

  </h3>


  <div class="items">
    <div class="item product-item" *ngFor="let item of booking.BookingItems; let i = index">
      <div class="name">
        {{item.ServiceName}} <br>
        {{item.ServiceQuantity}} persons X {{item.ServicePrice  | currency:'R'}}
      </div>

      <div class="action">
        <span class="material-icons" (click)="deleteItem(item, i)">
          delete_forever
        </span>
      </div>
    </div>


    <div class="totals">

      <h3>
        <span>Total due..... </span>
        {{booking.TotalAmount  | currency:'R'}}
      </h3>

      <h3>
        <span>Booking date..... </span>
        {{booking.BookingDate | date: 'mediumDate'}}
      </h3>
    </div>

    <div class="add-more">
      <button class="add-more" (click)="back()"> Add another experience</button>

    </div>
  </div>






  <div class="footer-btns">
    <button (click)="cancel()"> Cancel</button>
    <button (click)="checkout()"> Go to payments</button>
  </div>
</div>
