@import '../../../../assets/styles/color';

.main {
  background: none;
  background-image: url(../../../../assets/images/common/mbg.png);
  background-size: contain;
  height: 100vh;
  animation: playingBacking 150s ease-out .2s infinite;
  animation-fill-mode: backwards;
}

.logo {
  text-align: center;

  img {
    width: 7em;
    margin: 1em auto;
    border-radius: .4em;
    margin-top: 2em;

  }
}

.slide {
  text-align: center;
  position: fixed;
  top: 6em;
  width: 100%;

  img {
    width: 80%;
    margin: 1em auto;
    animation: moveInRight 1s ease-out .2s;
    animation-fill-mode: backwards;
    top: 12em;

  }
}

.actions {
  display: grid;
  grid-template-columns: 50% auto;
  position: fixed;
  bottom: 0;
  padding: .5em;
  width: 100%;

  .action {
    text-align: center;

    button {
      width: 100%;
      background: $primary;
      color: $white;
      width: 90%;
      margin: .5em auto;
      border-radius: .5em;
      font-weight: 400;
    }
    .skip {
      background: $white;
      color: $black;

    }
  }
}
