
.logo{
    position: relative;
    top: 4em;
    text-align: center;
    img{
        width: 7em;
    }

    h1{
        text-align: center;
        margin-top: 1em;
        font-weight: 600;
        font-size: 1.125rem; //18px
    }
}
