@import '../../../../../assets/styles/color';

.user-dp{
  width: 10em;
  margin: 1em auto;
}

h1{
  margin: 1.2em 0;
}

.action{
  position: fixed;
  z-index: 90000;
  right: 2em;
  bottom: 2em;
  button{
    padding: 0;
    margin: 0;
    border-radius: .5em;
    .material-icons{
      top:0
    }
  }
}

.cat{
  display: block;
  font-size: .8em;
  font-weight: 500;
  color: $info;
  }