<div class="">
  <div class="logo">
    <img src="assets/images/common/logo.png"
         alt="">
    <h1>
      please enter your email below, to change password
    </h1>
  </div>
  <form class="default-form"
        [formGroup]="rForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email"
             class="form-control"
             formControlName="Email"
             id="exampleInputEmail1"
             placeholder="Enter email">
      <div class="alert"
           *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <button mat-button
              class="mat-primary"
              color="primary"
              type="submit"
              [disabled]="!rForm.valid"
              (click)="onSubmit(rForm.value)">
        Submit
      </button>
      <h5 class="error">{{error}}</h5>
      <div class="cta">
        Go to
        <a routerLink="/sign-in">sign in</a>
      </div>
    </div>


  </form>
</div>
