<div class="nav">
  <div class="logo">
    <img src="assets/images/common/logo-home.png" alt="">
  </div>

  <div class="nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">
            dashboard
          </span>
           Dashboard
        </a>
      </li>

      <li>
        <a routerLink="/dashboard/products" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">
            list
          </span>
           Products
        </a>
      </li>

      <li>
        <a routerLink="/dashboard/customers" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">
            supervisor_account
          </span>
           Customers
        </a>
      </li>

      <li>
        <a routerLink="/dashboard/invoices" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">
            library_books
          </span>
           Invoices
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/jobs" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">
          <span class="material-icons">
            playlist_add_check
            </span>
           Job cards
        </a>
      </li>


    </ul>
  </div>
</div>
