<app-loader [showLoader]="showLoader" *ngIf="showLoader"></app-loader>


<div class="form-item">
  <label for="name">Customer Name *</label>
  <input type="text" [(ngModel)]="customer.Name" placeholder="e.g. John">
</div>

<div class="form-item">
  <label for="name">Customer Surname</label>
  <input type="text" [(ngModel)]="customer.Surname" placeholder="e.g. Mnisi">
</div>

<div class="form-item">
  <label for="name">Customer Email</label>
  <input type="text" [(ngModel)]="customer.Email" placeholder="e.g. john.mnisi@gmail.com">
</div>

<div class="form-item">
  <label for="name">Phone Number</label>
  <input type="text" [(ngModel)]="customer.PhoneNumber" placeholder="e.g. 084 001 0100">
</div>
<div class="form-item">
  <div class="upload-preview">
    <div class="upload">
      <!-- <label for="name">Product image</label> -->
      <input type="file" #file placeholder="Choose file" multiple (change)="uploadFile(file.files)"
        style="display:none;">
      <button mat-button class="btn-uplaod" (click)="file.click()">
        📷 Set stylist image
      </button>
    </div>
    <div class="preview">
      <img *ngIf="customer.Dp" [src]="customer.Dp" alt="">
    </div>
  </div>
</div>




<button mat-button class="mat-primary" [disabled]="!customer.Name" type="button" (click)="save()">
  Save stylist
</button>
