@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Metal+Mania&display=swap');
@import './assets/styles/color';
@import './assets/styles/main';
@import './assets/styles/button';
@import './assets/styles/form';
@import './assets/styles/grid';
@import './assets/styles/keyframes';
@import './assets/styles/modal';
@import './assets/styles/account';
@import './assets/styles/users';
@import './assets/styles/profile';
@import './assets/styles/table';
// @import './assets/styles/checkboxes';
@import './assets/styles/add-form';

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Jost' !important;
}



html,
body {
  height: 100%;
  background: $white;

}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  // background-color: red;
  box-shadow: none;
}
