.account {
  padding: 1rem;
  background-color: $white;
  height: 100%;

  form {
    margin: 0 auto;

    .form-group {
      margin: 0.5rem 0;
    }

    .alert,
    .error {
      color: $danger;
      font-size: 0.85rem;
      font-weight: 400;
    }

    .cta {
      margin: .5rem 0;
      display: flex;

      h1 {
        font-size: 1rem;
        color: $grey;
        font-weight: 500;
        color: $black;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        margin-left: .45rem;
        color: $primary;
      }
    }

    h1.h1 {
      margin: 4rem 0;

      .text {
        display: block;
        font-weight: 400;
        font-size: .75rem;
        color: $darker-grey;
        text-transform: capitalize;
      }
    }
  }


  .side-image {
    img {
      width: 100%;
    }

    @media only screen and (max-width: 600px) {
      img {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem;

    form {
      width: 90%;
      padding: 1rem;
      position: absolute;
      bottom: 1rem
    }
  }

}

.account-logo {
  text-align: center;

  img {
    width: 7rem;
    margin: 1rem auto;
  }
}
