$dashboard-body-width:100%;
$primary:#AE4EC0;
$black:#201f1f;
$mid:#3C4855;
$tec:#009CD7;
$pop: #AE4EC0;
$secondary:#58ceaa;
$tertiary:#5469BC;
$primary-purple:#CA2186;
$primary-05:#0cb16469;
$info:#5BCADD;
$info-05:#3498db91;
$black:#34495e;
$white:#FFFFFF;
$grey:#CED6E0;
$darker-grey:#a5a5a5;
$silver:#bdc3c7;
$danger:#FF4757;
$danger-05:#ff47569b;
$cloud: #ecf0f1;
$city-ligth: #dfe6e9;
$box-shadow:0 3px 6px rgb(0 0 0 / 16%),
0 3px 6px rgb(0 0 0 / 23%);
$box-shadow-hover: 0 3px 6px rgba(19, 18, 18, 0.075),
0 3px 8px rgba(0, 0, 0, 0.048);


// dark

//status

$warn-bg:#FFF3E7;
$warn-color:#FFAA5A;

$danger-bg:#FDE9EB;
$danger-color:#EC6687;

$success-bg:#E5F7F9;
$success-color:#58CFD3;


$input-border : #ccc;



