@import './home-container';
@import './inputs';
@import './index';

.quick-add {
  position: fixed;
  background: rgb(42 38 38 / 85%);
  width: 100%;
  height: 100%;
  z-index: 90000000;
  top: 0;
  left: 0;

  h3 {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid $cloud;
  }

  .form {
    margin: 5% auto;
    padding: 0;
    width: 40%;
    border-radius: .5em;
    max-height: 90%;
    overflow-y: scroll;


    @media only screen and (max-width: 600px) {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      border-radius: 0;
      max-height: 100%;

    }

    h1 {
      text-align: center;

      border-bottom: 1px solid $cloud;
      padding: 1em;
    }

    .form-item {
      width: 90%;
      margin: .2em auto;
      padding: .5em;
    }

    .form-item-grid {
      display: grid;
      grid-template-columns: 40% auto;

      label,
      input {
        display: block;
      }
      label{
        top: .75em;
      }
    }

    button {
      background: $pop;
      margin: 1.5em auto;
      color: $white;
      padding: 1em;
      border-radius: .4em;

      &:disabled {
        background: $darker-grey;
        cursor: no-drop;
      }
    }
  }

  .items {
    .item {
      display: grid;
      grid-template-columns: 50% auto;

      .col {
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}



.cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: .5em;

  .card {
    margin: .5em;

    .image {
      width: 100%;
      height: 8em;
      border-radius: .5em;
      overflow: hidden;
      box-shadow: $box-shadow;
      margin-bottom: .7em;

      img {
        width: auto;
        height: 11em;
      }


    }

    .details {
      // position: absolute;
      width: 100%;
      background: $white;
      bottom: .5em;
      color: $black;
      display: block;
      padding: .5em;
      font-size: .75em;

      span {
        display: block;
        font-weight: 700;
      }
    }
  }
}

.footer-btns {
  display: grid;
  grid-template-columns: 40% auto;

  @media only screen and (max-width: 600px) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: .1em .5em;
    background: $cloud;
  }

  button {
    margin: .5em auto;
    width: 96%;
    border-radius: .5em;
    font-weight: 600;

    &:first-child {
      background: $white;
    }

    &:nth-child(2) {
      background: $primary;
      color: $white;
    }

  }



}


.top-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $cloud;
  background: $white;
  z-index: 1000;
  font-size: .8em;
  text-align: center;

  span.back{
    position: absolute;
    left: .5em;
    top: .2em;
  }
}